# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Node.js
node_modules/
dist/
build/
.cache/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# Secretos y configuración local
.env
.env.*
*.local

# Registros
*.log
